* {
  box-sizing: border-box;
}

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
}

h1 {
  color: turquoise;
}

blockquote {
  border-left: 0.125em solid lightgray;
  margin-left: 0;
  padding-left: 0.5em
}

blockquote > p {
  font-size: 1.25em;
  padding: 0.25em;
}

button {
  font-size: 0.875em;
  font-weight: 500;
  border-radius: 0.25em;
  border: 2px solid black;
  padding: 0.5em 1em;
  background-color: whitesmoke;
  box-shadow: 0.25em 0.25em black;
  cursor: pointer;
}

button:hover {
  box-shadow: 0.125em 0.125em black;
}

button:active {
  background-color: yellow;
}

button:focus {
  outline: none;
}

footer {
  margin-top: 1.75em;
  border-top: 1px solid lightgray;
  padding-top: 1.75em;
}
